
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #A6E1FA;
    margin: 0%;
    font-size: 1.2em;
    line-height: 160%;
}


h1 {
    line-height: 150%;
}


h2 {
    color: #79F6C0;
}



/* navigation bar */
.topnav {
    background-color: #EBA832;
    color: #052438;
    width: 100%;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    position: fixed;
    z-index: 2;
    overflow: hidden;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1%;
}


.topnav a {
    color: #020650;
    text-decoration: none;
}

.topnav a:hover{
    text-decoration: underline;
    transform: scale(1.09);
}






/* intro div */
.heading {
    background-color: #052438;
    display: flex;
    padding: 10% 10% 10% 25%;
    align-items: center;
    flex-wrap: wrap;
}

.intro {
    flex: 1;
    margin-right: 15%;
}

.image {
    flex: 1;
}








/* about div */
.about {
    padding: 5% 45% 5% 10%;
    background-color: #020650;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}

/* about div decoration */
.about:before {
    background: inherit;
    top: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(5deg);
    transform-origin: 100%;
    z-index: -1;
}

.about:after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-5deg);
    transform-origin: 100%;
    z-index: -1;
 
}





/* portfolio div */
.portfolio {
    background-color: #052438;
    padding: 10% 5% 10% 35%; 
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}



.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card {
    transition: all 0.3s;
    background-color: #A6E1FA;
    color:#020650;
    border-radius: 1em;
    flex: 1;
    padding: 1%;
    margin-right: 10%;
    margin-bottom: 10%;
    flex-wrap: wrap;
  }
  
  
  .card:hover {
    box-shadow: 0 2% 6% 0  #A6E1FA;
    transform: scale(1.01);
  }
  

  .container {
    padding: 3%;
  }


  .card-btn {
    background-color: #052438;
    color: #79F6C0;
    padding: 4% 6%;
    text-decoration: none;
    border-radius: 1em;
    position: relative;
    
}

.card-btn:hover{
color: #EBA832;
background-color: #020650;
font-weight: bold;
}




/* certification div */
.certs {
    padding: 5% 25% 5% 10%;
    background-color: #020650;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
}

/* certification div decoration */
.certs:before {
    background: inherit;
    top: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(5deg);
    transform-origin: 100%;
    z-index: -1;
}

.certs:after {
    background: inherit;
    bottom: 0;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-5deg);
    transform-origin: 100%;
    z-index: -1;
}

.list-container{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

#list-col {
    flex: 1;  
    margin-right: 3em;
    flex-wrap: wrap;
}

#list-col li{
    padding: 0;
    line-height: 200%;
}

#cert-list {
    list-style-type: none;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
}









/* contact div */
.contact {
    background-color: #052438;
    padding: 10% 10% 10% 35%;
    padding-top: 10%;
    flex-flow: column;
    border-style: solid 10px;
    border-color: chocolate;
    flex-wrap: wrap;
}


.contact-btn {
        background-color: #A6E1FA;
        color: #020650;
        padding: 2% 2%;
        text-decoration: none;
        border-radius: 1em;
}

.contact-btn:hover{
    color: #EBA832;
    background-color: #020650;
}


